<header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="https://cdn.discordapp.com/avatars/305277118105911296/ab983904050480c26b335869e9783009.png?size=32" width="30" height="30" class="d-inline-block align-top rounded" alt="">
            iBot
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="navbar-item">
                <a class="nav-link" href="/"><img src="https://canary.discordapp.com/assets/904b7c9326d7282cce83957ae55fe61a.svg" height="20" width="20"> Home</a>
              </li>
              <li class="navbar-item">
                <a class="nav-link" href="/support"><img src="https://canary.discordapp.com/assets/cdda47b108df90a11e4c9fd96ef1534b.svg" height="20" width="20"> Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/iDroid27210/ibot/wiki/Commands"><img src="https://canary.discordapp.com/assets/f21f7f8b3a3f188d267438d936be035f.svg" height="20" width="20"> Commands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://paypal.me/ibotandidroid"><img src="https://discordapp.com/assets/ccebe0b729ff7530c5e37dbbd9f9938c.svg" height="20" width="20"> Donate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tos"><img src="https://canary.discordapp.com/assets/ffcdb50ce310bfbe221f01a8e72034a8.svg" height="20" width="20"> ToS</a>
              </li>
              <% if (identity !== 'NO') { %>
              <li class="nav-item">
                <a class="nav-link" href="/servers"><img src="https://canary.discordapp.com/assets/9c94147b257a3a5a0dbd0f7fcd4791df.svg" height="20" width="20"> Servers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/invite"><img src="https://canary.discordapp.com/assets/86ac473ccadf924d6b8a1cfec2417d63.svg" height="20" width="20"> Invite</a>
              </li>
              <% if (identity === 'iDroid#4441') { %>
              <li class="nav-item">
                <a class="nav-link" href="/admin"><img src="https://canary.discordapp.com/assets/1223c2e358973af4766acf976e941520.svg" height="20" width="20"> Admin</a>
              </li>
              <% } } %>
              <% if (identity === 'NO') { %>
              <li class="nav-item">
                <a class="nav-link" href="/auth/login"><img src="https://canary.discordapp.com/assets/2bd74ab02e74e380eeae88a077051671.svg" height="20" width="20"> Login</a>
              </li>
              <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/auth/logout"><img src="https://canary.discordapp.com/assets/2bd74ab02e74e380eeae88a077051671.svg" height="20" width="20"> Logout</a>
              </li>
              <% } %>
            </ul>
            <span class="navbar-text">
              <% if (identity !== 'NO') { %>
              Connected as <strong><%= identity %></strong>.
              <% } else { %>
              Visitor
              <% } %>
            </span>
          </div>
        </div>
      </nav>
    </header>