<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head.ejs %>
    <title>iBot - Error</title>
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Error -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style display-1 text-center"><strong>Error <%= code %></strong></h1>
        <hr>
        <p class="text-center">
          <% if (code === '404') { %>The page you requested does not exist.
          <% } else if (code === '403') { %>You do not have the permission to access to this page.
          <% } else if (code === '401') { %>You must be logged-in to access to this page.
          <% } else if (code === '500') { %>An internal server error occured!
          <% } %>
          <br><br>
          <a href="/" class="btn btn-secondary btn-lg" role="button">Return to home</a>
        </p>
      </div>
    </div>

    <!-- Footer -->
    <% include parts/footer.ejs %>
  </body>
</html>