<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head.ejs %>
    <title>iBot - Servers</title>
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Bot ToS -->
    <!-- <div class="jumbotron jumbotron-fluid h-100">
      <div class="container center-block h-100">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style text-center">iBot ToS</h1>
        <hr>
        <div class="d-flex flex-wrap justify-content-center h-100">
          Soon!
        </div>
      </div>
    </div> -->

    <!-- Telephone ToS -->
    <div class="jumbotron jumbotron-fluid h-100">
      <div class="container center-block h-100">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style text-center">Telephone ToS</h1>
        <hr>
        <div class="d-flex flex-wrap justify-content-center h-100">
          <ul class="list-group">
            <li class="list-group-item">1) You must not insult, impersonate, discriminate anyone through the phone.</li>
            <li class="list-group-item">2) You must not raid through the phone, if you do, logs will be used for a report to abuse@discordapp.com.</li>
            <li class="list-group-item">3) Please do not spam-call someone if they do not want to answer. You could get listed in the iBot commands blacklist.</li>
            <li class="list-group-item">4) If you wish to do not appear on the public phonebook, please ask a server administrator (with <code>MANAGE_GUILD</code> permission) to run <code>i:phonebook switch</code>.</li>
            <li class="list-group-item">5) Do not share pornographic, offensive or discriminating content.</li>
            <li class="list-group-item">6) Any abuse of the system can result in a blacklist of the user.</li>
            <li class="list-group-item">7) If you wish to blacklist a number of your telephone, ask a server administrator to run <code>i:config phoneblacklist [number]</code>, they won't be able to call you anymore.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <% include parts/footer.ejs %>
  </body>
</html>